:root{
    --cor-fundo: #447eb1;
    --cor-principal: #262942c5 ;
    --cor-secundaria: #212333;
    --cor-destaque: #749ea5;
    --cor-texto: #d7f9ffce;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

.caixa-perguntas{
    padding-bottom: 10px;
}
:root{
    --cor-fundo: #3a8fda;
    --cor-principal: #5e5d66a8 ;
    --cor-secundaria: #212333;
    --cor-destaque: hsl(189, 19%, 52%);
    --cor-texto: #D7F9FF;
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}